{% extends 'base.html' %}

{% block content %}

    {% if error %}
        {{ error }}
        <br />
        <br />
    {% endif %}

    <h1>Create</h1>

    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        Name:
        <br />
        <input type="text" name="name" />
        <br />
        Details:
        <br />
        <input type="textbox" name="detail" />
        <br />
        Price:
        <br />
        <input type="text" name="price" />
        <br />

        <select name="catagorys" required="" id="id_catagorys" multiple="multiple">
            {% for catagorys in catagorys.all %}
                <option value="{{  catagorys.name }}">{{  catagorys.name }}</option>
            {% endfor %}


        </select>

        Image:
        <br />
        <input type="file" name="image" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Add Product" />
    </form>

{% endblock %}